.choice {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: palegoldenrod;
    color: slategray;
    text-align: center;

}


.container {
    border: 1px solid gold;
    font: 18px;
    font-family: 'Vollkorn SC', serif;
    background-color: silver;
    text-align: center;
    padding: 10px;
}

body {
    background-color: royalblue;

}

.jumbotron {
    background-color: palegoldenrod;
    color: slategray;
    text-align: center;
}